    <div class="container">

    <div class="jumbotron">
    <div class="container row place" data-anchor="home">
    <h1 style="color:white; text-align: center;"><b>STEM School Robotics</b></h1>
    </div>
    </div>


      <div class="row place" data-anchor="about">
        <h2 style="text-align: center;">About us</h2>
        <div class="col-sm-25">
            <p style="text-align: center;">
            Welcome to the official website for the STEM School robotics team. Our school's mission is to develop and share a new paradigm for world-class education using technology and as a gateway to cultivate student's inquisitive nature, excerisise innovation, think critically, and collaborate to become leaders who are self sufficent, with the passion of Chattanooga's Renaissance. Through STEM Robotics, students gain a passion to learn, everlasting ability to excersise leadership, and work their minds to come up with innovative and unique ideas. 
            </p>
        </div>
        <div class="col-sm-4">
          <div class = "thumbnail">
            <img src = "/images/team_one.jpg">
          </div>
        </div>
        <div class="col-sm-4">
          <div class = "thumbnail">
            <img src = "/images/team_two.jpg">
          </div>
        </div>
        <div class="col-sm-4">
          <div class = "thumbnail">
            <img src = "/images/team_three.jpg">
          </div>
        </div>
      </div>


      <hr>
  
  
      <div class="row place" data-anchor="upcoming">
        <h2 style="text-align: center;">Upcoming Events</h2>
        <div class="col-sm-10">
          <p style="text-align: center;">
            Is this nessesary? How should it look? 
          </p>
        </div>
      </div>


      <hr>


      <div class="row" data-anchor="teams">
        <h2 style="text-align: center;">Teams</h2>
        <div class="col-sm-4 place" data-anchor="mechanical">
          <h3>Mechanical Team</h3>
          <p>
          The mechanical team assembles the body of the robot, on which the other parts are attached. They use our state of the art FABLAB to assemble all the various moving parts that go into making our robots functional, as well as keeping the pneumatics functioning.(fix)
          </p>
        </div>  
        <div class="col-sm-4 place" data-anchor="electrical">
          <h3>Electrical Team</h3>
          <p>
          The electrical team works with supplying power to the robots. They plug in and organize all the wires that keep the robots functioning, as well as troubleshooting when things go wrong. Our electrical team members also create and wire the electrical panel, and works with pneumatics.(fix)
          </p>
        </div>  
        <div class="col-sm-4 place" data-anchor="business">
          <h3>Business &amp; Branding Team</h3>
          <p>
          The business and branding team works to provide the STEM School Robotics team with a public face. The business and branding team members also create the team’s promotional materials, as well as reaching out to and securing sponsors to provide the majority of the teams budget. The business and branding team also keeps purchase records, as well as(fix)
          </p>
        </div> 
        <div class="col-sm-4 place" data-anchor="programming">
          <h3>Programming Team</h3>
          <p>
          The programming team writes all of our robot code.(fix)
          </p>
        </div> 
      </div>
    
      <hr>

      <div class="row place" data-anchor="sponsors">        
        <h2 style="text-align: center;">Sponsors</h2>
        <div class="col-sm-4">
          <h3 style="text-align: center;">TVA</h3>
          <div class = "thumbnail">
            <img src = "/images/tva.png">
          </div>
        </div>
        <div class="col-sm-4">
          <h3 style="text-align: center;">EPB</h3>
          <div class = "thumbnail">
           <img src = "/images/epb.png">
          </div>
        </div>
        <div class="col-sm-4">
          <h3 style="text-align: center;">Sonic</h3>
          <div class = "thumbnail">
           <img src = "/images/sonic.png">
          </div>
        </div>
        <div class="col-sm-4">
          <h3 style="text-align: center;">SolidWorks</h3>
          <div class = "thumbnail">
           <img src = "/images/solidworks.jpg">
          </div>
        </div>
      </div>


    </div> 
