    <div class="jumbotron jumbotron-fluid">
    <div class="container row place" data-anchor="home">
    <h1 style="color:white; text-align: center;"><b>Team 4924</b></h1>
    </div>
    </div>
    <div class="container">

      <div class="row place" data-anchor="about">
        <h2 style="text-align: center;">About us</h2>
        <div class="col-sm-25">
            <p style="text-align: center;">
            Welcome to the official website for the STEM School robotics team. Our school's mission is to develop and share a new paradigm for world-class education using technology and as a gateway to cultivate student's inquisitive nature, excerisise innovation, think critically, and collaborate to become leaders who are self sufficent, with the passion of Chattanooga's Renaissance. Through STEM Robotics, students gain a passion to learn, everlasting ability to excersise leadership, and work their minds to come up with innovative and unique ideas.
            </p>
        </div>
      </div>

        <div class="thumb">
          <img class="image-responsive" src = "/images/team_two.jpg">
        </div>
    </div>
