<div class="container">
  <div class="row place">
    <h2 style="text-align: center;">Sponsors</h2>
    <div class="col-md-4">
      <h3 style="text-align: center;">TVA</h3>
      <div class = "thumbnail thumb">
        <img src = "/images/tva.png">
      </div>
    </div>
    <div class="col-md-4">
      <h3 style="text-align: center;">EPB</h3>
      <div class = "thumbnail thumb">
        <img src = "/images/epb.png">
      </div>
    </div>
    <div class="col-md-4">
      <h3 style="text-align: center;">Sonic</h3>
      <div class = "thumbnail thumb">
        <img src = "/images/sonic.png">
      </div>
    </div>
    <div class="col-md-4">
      <h3 style="text-align: center;">SolidWorks</h3>
      <div class = "thumbnail thumb">
        <img src = "/images/solidworks.jpg">
      </div>
    </div>
  </div>
</div>
