<div class="container">
  <div class="row" data-anchor="teams">
    <h2 style="text-align: center;">Teams</h2>
    <div class="col-sm-4 place" data-anchor="mechanical">
      <h3>Mechanical Team</h3>
      <p>
        The mechanical team assembles the body of the robot, on which the other parts are attached. They use our state of the art FABLAB to assemble all the various moving parts that go into making our robots functional, as well as keeping the pneumatics functioning.(fix)
      </p>
    </div>
    <div class="col-sm-4 place" data-anchor="electrical">
      <h3>Electrical Team</h3>
      <p>
        The electrical team works with supplying power to the robots. They plug in and organize all the wires that keep the robots functioning, as well as troubleshooting when things go wrong. Our electrical team members also create and wire the electrical panel, and works with pneumatics.(fix)
      </p>
    </div>
    <div class="col-sm-4 place" data-anchor="business">
      <h3>Business &amp; Branding Team</h3>
      <p>
        The business and branding team works to provide the STEM School Robotics team with a public face. The business and branding team members also create the team’s promotional materials, as well as reaching out to and securing sponsors to provide the majority of the teams budget. The business and branding team also keeps purchase records, as well as(fix)
      </p>
    </div>
    <div class="col-sm-4 place" data-anchor="programming">
      <h3>Programming Team</h3>
      <p>
        The programming team writes all of our robot code.(fix)
      </p>
    </div>
  </div>

  <div class="thumb">
    <img class="image-responsive" src = "/images/team_one.jpg">
  </div>
</div>
